  <br><br>
  <% if current_user.nil? %>
  <%= link_to "Sign up", signup_path %> for the best cooking management experience of your life!
  <% else %>
  <br>
  Hey, <%= link_to "#{current_user.name}", current_user %>! Welcome to the beautiful world of a 
  well-managed kitchen ;)
  <br><br><br><span style="font-family: Lobster; font-size: 32px;">Suggestions</span><br><br>
  <% end %>
  
  <div class="ultra">
  <% current_user.recipes.take(3).each do |x| %>
  <div class="wrapper">
  
  <span style="font-size: 25px;"><%= x.title %></span><br><br>
  
  Key ingredients:<br>
  <%= x.attributes.to_a[2..13].sort{|x,y| x[1]<=>y[1]}.reverse.first(5).flatten %><br><br>
  
  Execution:<br>
  <%= x.execution.split("").first(70).join %>...<br><br>
  <%= link_to "Read more", user_recipe_path(current_user, x) %> | 
  <%= link_to "Execute", "#" %> | 
  <%= link_to "Edit", edit_user_recipe_path(current_user, x) %>
  
  </div>
  
  <% end %>
  </div>
  </div>
  
  <br><br>
  
  
  <span style="font-family: Lobster; margin-left: 5%; font-size: 32px;">All recipes</span><br><br>
  
  
  <%= link_to "New recipe?", new_user_recipe_path(current_user, @recipe) %>

  
  
