<% provide(:title, 'New Recipe') %>
<h1>Ingredients:</h1>

Instructions: this is a smart form! To add the ingredients of your recipe on our database, simply fill 
the ingredient list on the same way you would write them on a notebook and we will do the rest. The form 
is even adding automatically any "new" ingredient in your inventory, making the adding and management of 
recipes a pleasure! The only requirement is to fill the ingredient list form after the following format:
"red peppers: 2300, black pepper: 3000, tuna: 5000." For troubleshooting purposes the universal regex we 
use to handle your data is: "\b[a-z -]{3,40}: \d{1,6}\b".

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for @recipe, url: {action: "create"} do |f| %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :ingredient_list %>
      <%= f.text_area :ingredient_list, class: 'form-control' %>
      
      <%= f.label :execution %>
      <%= f.text_area :execution, class: 'form-control' %>

      <%= f.submit "Make this happen!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>