<% provide(:title, 'New Recipe') %>
<h1>Ingredients:</h1>

<div class="row">
  <div class="col-xs-1">
      <%= form_for @recipe, url: {action: "create"} do |f| %>
      
      <% b=@recipe.attributes.to_a %>

      <% (2..13).each do |x| %>
      
      <%= f.label "#{b[x][0]}".to_s %>
      <%= f.number_field "#{b[x][0]}", in: 0..10000 %>

      <% end %>
      
    </div>
  
  <div class="col-md-6 col-md-offset-3">  
<h1>Execution:</h1>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :execution %>
      <%= f.text_area :execution, class: 'form-control' %>

      <%= f.submit "Make this happen!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

