<%= b=@recipe.attributes.to_a %>
<div class="pr">
<span style="font-size: 25px;"><%= b[1][1] %></span><br><br>
Ingredients (complete list):<br>
<% (2..13).each do |x| %>
<% if b[x][1]==0 %>
<% else %>
<%= "#{b[x][0]}: #{b[x][1]}gr" %>
<% end %>
<% end %><br><br>
Execution:<br><br>
<%= b.last[1] %>
<br><br>
<p style="width: 100%, text-align: center; margin: 0 auto;">
<%= link_to "Edit this recipe", edit_user_recipe_path(current_user, @recipe) %> | 
<%= link_to "Back to profile", @user %> | 
<%= link_to "All of my beloved recipies", root_path %>
</span>
</div>
<div class="pr2">
<span style="font-family:Lobster; font-size: 17px;">Statistical analysis</span>
<% data = {
  labels: b[2..13].map!{|x| x[0] unless x[1]==0}.compact,
  datasets: [
    {
        label: "Percentage in message",
        backgroundColor: "rgba(15,275,217,0.7)",
        borderColor: "rgba(15,217,175,1)",
        data: b[2..13].map!{|x| x[1] unless x[1]==0}.compact
    }
  ]
} %>
<% options = { width: 300, height: 300 } %>
<div id="graph2"><%= doughnut_chart data, options %></div>

</div>