<%= @user.name %><br><br>
<%= link_to "New recipe?", new_user_recipe_path(@user, @recipe) %>
<% i=DrawerIngredient.of @drawer %>
<% if !(i.nil?) && !(i.empty?) %>
|| 
<%= link_to "Go shopping!", user_drawer_go_shopping_url(drawer_id: "#{@drawer.id}", 
 user_id: "#{current_user.id}" ) %> 
<% end %>
<br><br>

<%= link_to "#{@drawer.my_inventory}", edit_user_drawer_path(@user, @drawer) %>: <br>
<% i.order(quantity: :desc).each do |x| %>
<%= x.ingredient_name %>: 
<%= x.quantity %> | 
<% end %><br>

<br><br>

My recipes:<br><br>

      <% current_user.recipes.all.each do |c| %>
    
  <span style="font-size: 21px;">
  <%= c.title  %> </span>
  (
  <%= link_to "View recipe page", user_recipe_path(current_user, c) %> | 
  <%= link_to "Edit this recipe", edit_user_recipe_path(current_user, c) %>
  )<br>
      
  <% Ingredient.scope(c).each do |x|  %>
  <%= "#{x.name}: #{x.quantity} | " %>
  <% end %>
  <br>

<br><span style="border: 1px solid blue; padding: 3px; margin: 8px; border-radius: 2px;">
<%= link_to "Execute+", user_drawer_recipe_execute_path(drawer_id: "#{@drawer.id}", 
recipe_id: "#{c.id}", user_id: "#{current_user.id}" ) %></span><br><br><br>




      <% end %>
